# Sources
source/

# Github templetes
.github/

# Configs
tsconfig.json
tsconfig.build.json

# Readme
README.md

# Tests
test.*

# Build post-processor
after.js

# Browser file (Will uploaded as releases of package)
library/browser.js