# Sources
source/

# Github templetes
.github/

# Configs
tsconfig.json

# Readme
README.md

# Tests
test.*

# Bundler config
rollup.config.ts

# Browser file (Will uploaded as releases of package)
library/browser.js